form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
input {
  padding: 0.5em;
  display: block;
  border-radius: 2px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 10px;
}
input:focus {
  outline: none;
}
