.nav-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--neon);
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  font-weight: nomral;
  max-width: 8em;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-box {
  margin: 10px;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
  color: var(--neon);
}

.navlink-nostyle {
  text-decoration: none;
}
.nav-right {
  display: flex;
  justify-content: right;
}
.profile-dropdown {
  top: 3em;
  right: 1em;
  position: absolute;
}

.profile-dropdown > li {
  text-align: right;
  list-style: none;
}
.profile-btn {
  height: 3rem;
  width: 3em;
}
