.nav-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--neon);
  color: white;
  margin: 10px;
  padding: 10px;
  font-size: 1em;
  max-width: 8em;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-box {
  margin: 10px;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
  color: var(--neon);
}

.navlink-nostyle {
  text-decoration: none;
}
.nav-right {
  display: flex;
  justify-content: right;
  height: 75px;
  /* height: auto; */
}
.profile-dropdown {
  padding: 1rem;
  top: 4em;
  right: 1em;
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid var(--accent);
}

.profile-dropdown > li {
  /* text-align: right; */
  list-style: none;
}
.profile-btn {
  height: 100%;
  width: 75px;
}
