.nav-btn {
  text-align: center;
  text-decoration: none;
  background-color: var(--accent);
  color: white;
  margin: 10px;
  padding: 10px 30px;
  font-size: 1rem;
  /* max-width: 8em; */
  font-weight: bold;
  display: flex;
  align-items: center;
  background: var(--accent);
  border: none;
  cursor: pointer;
  /* filter: brightness(110%); */
  /* font-size: 10px; */
  transition: filter 0.15s;
}
.nav-txt {
  text-align: center;
  text-decoration: none;
  color: var(--accent);
  background-color: whitesmoke;
  /* border: var(--accent) solid 2px; */
  margin: 10px;
  padding: 10px 30px;
  font-size: 1rem;
  font-weight: bold;
  /* max-width: 8em; */
  display: flex;
  align-items: center;
  cursor: pointer;
  /* filter: brightness(110%); */
  /* font-size: 10px; */
  transition: filter 0.15s;
}
.nav-border {
  border: var(--accent) solid 2px;
}
.nav-bar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo-box {
  margin: 10px;
  font-weight: bolder;
  font-size: 2rem;
  text-decoration: none;
  color: var(--neon);
}

.navlink-nostyle {
  text-decoration: none;
}
.nav-right {
  display: flex;
  justify-content: right;
  height: 75px;
  /* height: auto; */
}
.profile-dropdown {
  padding: 1rem;
  top: 4em;
  right: 1em;
  position: absolute;
  z-index: 999;
  background-color: white;
  border: 1px solid var(--accent);
}

.profile-dropdown > li {
  /* text-align: right; */
  list-style: none;
}
.profile-btn {
  height: 100%;
  width: 75px;
}
