@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");
:root {
  --darkest: #0b0c10;
  --dark: #1f2833;
  --light: #c5c6c7;
  --neon: #66fcf1;
  --accent: #45a29e;
  font-family: "Roboto", sans-serif;
  text-rendering: optimizeLegibility;
}
html {
  background-color: white;
  height: 100vh;
  /* this would be sick for theming */
  filter: hue-rotate(-180deg);
}
* {
  margin: 0;
  box-sizing: border-box;
}
h1,
h2,
h3,
p {
  color: var(--dark);
}
p {
  font-size: 1vw;
}

button {
  color: white;
  background: var(--accent);
  border: none;
  cursor: pointer;
}
