#modal-content {
  padding: 1em 3em;
}
label,
textarea {
  margin-bottom: 1em;
  color: var(--neon);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
}
form > * {
  color: var(--darkest);
}
input {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  display: block;
  border: none;
  border-bottom: 1px solid var(--accent);
  /* margin-bottom: 10px; */
  /* margin: 10px; */
}
input:focus {
  outline: none;
}
