.modal-div {
  /* padding: 1em 3em; */
  background-position: center;
  background-size: auto;
  width: 400px;
  height: 400px;
}
label {
  margin-bottom: 1em;
  font-weight: bold;
}
.login-title {
  margin-top: -6.2rem;
  font-size: 1.25rem;
  font-weight: bold;
  margin-bottom: 1.5rem;
  color: var(--dark);
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
  height: 100%;
}
form > * {
  color: var(--dark);
}
input {
  background-color: rgba(0, 0, 0, 0);
  overflow: hidden;
  display: block;
  border: none;
  border-bottom: 1px solid var(--accent);
  /* margin-bottom: 10px; */
  /* margin: 10px; */
  border-radius: 0;
  /* overflow: hidden; */
  font-size: 1.25rem;
}
input:focus {
  outline: none;
}
